section.athlets
  .athlets__container
    .athlets__title
      .container-main
        .row.d-flex.justify-content-end.container-fluid
          .athlets__title-content.col-lg-6.col-md-7.col-sm-7
            h2 ATHLETS
    .athlets__media
      img.athlets__media-img(src='./images/footballer.png')
      .athlets__media-decorations
        .athlets__media-decoration-cross1
          include ../decoration-cross/main
        .athlets__media-decoration-cross2
          include ../decoration-cross/main
        .athlets__media-decoration-cross3
          include ../decoration-cross/main
        .athlets__media-decoration-line1
    ul.athlets__feature-list
      li.athlets__feature-item.athlets__feature-item_connection
        .container-main
          .row.d-flex.justify-content-end.container-fluid
            .athlets__feature-item-content.col-lg-6.col-md-7.col-sm-7
              .athlets__feature-title
                .athlets__feature-item-counter
                  .athlets__feature-item-counter-number 01
                  .athlets__feature-item-counter-decoration
                h3.athlets__feature-item-name Connection
              p.athlets__feature-descreption Connect with coaches directly, you can ping coaches to view profile.
      li.athlets__feature-item.athlets__feature-item_collaboration
        .container-main
          .row.d-flex.justify-content-end.container-fluid
            .athlets__feature-item-content.col-lg-6.col-md-7.col-sm-7
              .athlets__feature-title
                .athlets__feature-item-counter
                  .athlets__feature-item-counter-number 02
                  .athlets__feature-item-counter-decoration
                h3.athlets__feature-item-name Collaboration
              p.athlets__feature-descreption
                | Work with other student athletes to  increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.
      li.athlets__feature-item.athlets__feature-item_growth
        .container-main
          .row.d-flex.justify-content-end.container-fluid
            .athlets__feature-item-content.col-lg-6.col-md-7.col-sm-7
              .athlets__feature-title
                .athlets__feature-item-counter
                  .athlets__feature-item-counter-number 03
                  .athlets__feature-item-counter-decoration
                h3.athlets__feature-item-name Growth
              p.athlets__feature-descreption
                |Resources and tools for you to get better as a student Athelte.
                br
                | Access to training classes, tutor sessions, etc 
