include ../counter/main

section.work_it
  .work_it__container
    .work_it__media
      img.work_it__media-img(src='./images/work_it.jpg')
    .work_it__main
      .work_it__main-content
        +counter( '03' )
        h2.work_it__main-title WORK IT
        p.work_it__main-description
          | Enjoy being a student athlete, the recruiting
          br.find_contact__main-description-br
          |  process can be overwhelming, we want to
          br.find_contact__main-description-br
          |  make this a enjoyable experience. 
        .work_it__main-decoration
