.app-download
  ul.app-download__list
    li.app-download__item.app-download__apple
      a.app-download__item-url(href="#")
        img.app-download__item-icon(src='./images/icons/apple.png')
        .app-download__item-text
          p.app-download__item-text-title DOWNLOAD ON THE
          p.app-download__item-text-description APP STORE
    li.app-download__item.app-download__android
      a.app-download__item-url(href="#")
        img.app-download__item-icon(src='./images/icons/google.png')
        .app-download__item-text
          p.app-download__item-text-title GET IT ON
          p.app-download__item-text-description GOOGLE PLAY
