include ../counter/main

section.be_active
  .be_active__container
    .be_active__media
      img.be_active__media-img(src='./images/be_active.jpg')
    .be_active__main
      .be_active__main-content
        +counter( '01' )
        h2.be_active__main-title BE ACTIVE
        p.be_active__main-description
          | Post videos with your skills,
          br.find_contact__main-description-br
          |  Like and follow others to be
          br.find_contact__main-description-br
          |  more popular.
        .be_active__main-decoration
