.social
  ul.social-list
    li.social-item
      a.social-url(href='#')
        img.social-icon(src='./images/icons/fb.png')
    li.social-item
      a.social-url(href='#')
        img.social-icon(src='./images/icons/tw.png')
    li.social-item
      a.social-url(href='#')
        img.social-icon(src='./images/icons/ig.png')
