section.bottom(style='background-image: url(./images/bg/bottom.jpg)')
  .bottom__container.container-main
    .bottom__main
      .bottom__media-decorations
        .bottom__media-decoration-line1
        .bottom__media-decoration-line2
      .bottom__main-icon
        img.bottom__main-icon-img(src='./images/icons/logo-bottom.png')
      .bottom__main-text
        p.bottom__main-text-top DOWNLOAD APP
        p.bottom__main-text-bottom SHOW EVERYONE WHAT YOU CAN DO!
    include ../download/main

