section.hero.container-fluid(style='background-image: url(./images/bg/football.jpg)')
  .hero__container.container-main
    .hero__title-wrap
      .hero__title-wrap-decoration
      h1.hero__title-top BE RECRUITED
      h1.hero__title-bottom
        | PLAY COLLEGE
        br.hero__line-break
        |  SPORTS
    nav.hero__nav.nav
      ul.hero__nav-list.nav-list
        li.hero__nav-item.nav-item
          a(href='#') FOOTBALL
        li.hero__nav-item.nav-item
          a(href='#') BASKETBALL
        li.hero__nav-item.nav-item
          a(href='#') BASETBALL
        li.hero__nav-item.nav-item
          a(href='#') SOCCER
        li.hero__nav-item.nav-item
          a(href='#') ICE HOCKEY
    include ../download/main
