extends _layouts/base



block content
  include _modules/header/main
  include _modules/hero/main
  include _modules/athlets/main
  include _modules/players/main
  include _modules/be_active/main
  include _modules/find_contact/main
  include _modules/work_it/main
  include _modules/bottom/main
  include _modules/footer/main
