.players__media-decorations {
  position: absolute;
  top: 0;
  right: 0;
}

.players__media-decoration-line1 {
  position: absolute;
  top: 65px;
  right: 60px;
  width: 0px;
  height: 5px;
  transform-origin: right;
  transform: rotate(-48deg);
  background-color: rgba(134, 99, 229, 1.00);
  z-index: -1;
  transition: width 1s;
}

.players__media-decoration-line2 {
  position: absolute;
  top: 430px;
  right: 530px;
  width: 0px;
  height: 5px;
  transform-origin: right;
  transform: rotate(-48deg);
  background-color: rgba(134, 99, 229, 1.00);
  z-index: -1;
  transition: width 1s;
}

.players__media-decoration-cross1 {
  width: 18px;
  height: 18px;
  fill: rgba(123, 89, 225, 1.00);
  position: absolute;
  top: 124px;
  right: 655px;
  opacity: 0;
}

.players__media-decoration-cross2 {
  width: 18px;
  height: 18px;
  fill: rgba(123, 89, 225, 1.00);
  position: absolute;
  top: 142px;
  right: 630px;
  opacity: 0;
}

.players__media-decoration-cross3 {
  width: 18px;
  height: 18px;
  fill: rgba(123, 89, 225, 1.00);
  position: absolute;
  top: 380px;
  right: 205px;
  opacity: 0;
}

.players__media.show {
  .players__media-decoration-line1 {
    width: 400px;
  }

  .players__media-decoration-line2 {
    width: 370px;
  }

  .players__media-decoration-cross1 {
    animation-name: crossAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }

  .players__media-decoration-cross2 {
    animation-name: crossAnimation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  .players__media-decoration-cross3 {
    animation-name: crossAnimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
}

@keyframes crossAnimation {
  0% {
    opacity: 0.9;
  }

  10% {
    opacity: 0.1;
  }

  30% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.9;
  }
}

@media screen and (max-width: 769px) {

  .players__media-decoration-line1 {
    top: 220px;
    right: 300px;
  }

  .players__media.show {
    .players__media-decoration-line1 {
      width: 310px;
    }

    .players__media-decoration-line2 {
      width: 0;
    }
  }

  .players__media-decoration-cross1 {
    top: 60px;
    right: 445px;
  }

  .players__media-decoration-cross2 {
    top: 75px;
    right: 420px;
  }
}

@media screen and (max-width: 580px) {

  .players__media-decoration-line1 {
    top: 124px;
    right: 160px;
  }

  .players__media-decoration-line2 {
    top: 23px;
    right: 28px;
  }

  .players__media.show {
    .players__media-decoration-line1 {
      width: 180px;
    }

    .players__media-decoration-line2 {
      width: 140px;
    }
  }

  .players__media-decoration-cross1 {
    top: 0px;
    right: 280px;
  }

  .players__media-decoration-cross2 {
    top: 10px;
    right: 255px;
  }

  .players__media-decoration-cross3 {
    top: 250px;
    right: 50px;
  }
}
