section.players
  .players__container
    .players__title
      .container-main
        .row.container-fluid
          .players__title-content.col-lg-6.col-md-7.col-sm-7
            h2 PLAYERS
    .players__media
      img.players__media-img(src='./images/basketballer.png')
      .players__media-decorations
        .players__media-decoration-cross1
          include ../decoration-cross/main
        .players__media-decoration-cross2
          include ../decoration-cross/main
        .players__media-decoration-cross3
          include ../decoration-cross/main
        .players__media-decoration-line1
        .players__media-decoration-line2
    ul.players__feature-list
      li.players__feature-item.players__feature-item_connection
        .container-main
          .row.container-fluid
            .players__feature-item-content.col-lg-6.col-md-7.col-sm-7
              .players__feature-title
                .players__feature-item-counter
                  .players__feature-item-counter-number 01
                  .players__feature-item-counter-decoration
                h3.players__feature-item-name Connection
              p.players__feature-descreption Connect with talented athlete directly, you can watch their skills through video showreels directly from Surface 1.
      li.players__feature-item.players__feature-item_collaboration
        .container-main
          .row.container-fluid
            .players__feature-item-content.col-lg-6.col-md-7.col-sm-7
              .players__feature-title
                .players__feature-item-counter
                  .players__feature-item-counter-number 02
                  .players__feature-item-counter-decoration
                h3.players__feature-item-name Collaboration
              p.players__feature-descreption Work with recruiter to increase your chances of finding talented athlete.
      li.players__feature-item.players__feature-item_growth
        .container-main
          .row.container-fluid
            .players__feature-item-content.col-lg-6.col-md-7.col-sm-7
              .players__feature-title
                .players__feature-item-counter
                  .players__feature-item-counter-number 03
                  .players__feature-item-counter-decoration
                h3.players__feature-item-name Growth
              p.players__feature-descreption Save your time, recruit proper players for your team.
